.before {
  content: "";
  display: block;
  position: absolute; }

.d-block, .wrapper__section, .header__section, .header__top--container, .header__main--container {
  display: block;
  float: left;
  width: 100%; }

.d-inline {
  display: inline-block; }

.container__block {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 1180px; }

.header__top--container {
  background: #2B2B2B;
  padding: 6px 0; }

.header__top--block {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }

.header__top-nav {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 1px; }

.header__top-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex; }
  .header__top-list li {
    margin: 0 6px; }
    .header__top-list li a {
      font: 14px/16px "Roboto", sans-serif;
      color: #fff;
      display: inline-block;
      white-space: nowrap; }
      .header__top-list li a:hover {
        text-decoration: underline; }

.header__top-right {
  width: 235px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  padding-right: 14px; }

.header__top--town {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.header__top-town--title {
  white-space: nowrap;
  font: 300 14px/16px "Roboto", sans-serif;
  color: #fff;
  display: inline-block;
  margin-right: 5px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  padding-top: 2px; }

.header__top-town--action {
  min-width: 1px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
  padding-top: 2px; }

.header__top-town-action--link {
  white-space: nowrap;
  font: 300 14px/16px "Roboto", sans-serif;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  max-width: 100%; }
  .header__top-town-action--link:hover {
    text-decoration: underline; }

.header__main--container {
  background: #fff;
  padding: 19px 0 13px; }

.header__main--content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  float: left; }

.header__main--burger {
  display: none !important;
  width: 55px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }

.header__main-mobile--btn {
  width: 100%;
  height: 52px;
  background: #f8f9fa;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .header__main-mobile--btn i {
    width: 36px;
    height: 5px;
    display: block;
    margin: 3px 0;
    background: #134563;
    position: relative;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  .header__main-mobile--btn.is-active i:first-child {
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 6px; }
  .header__main-mobile--btn.is-active i:last-child {
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: -5px; }
  .header__main-mobile--btn.is-active i:nth-child(2) {
    display: none; }

.header__main-content--blocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 1px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }
  @media (min-width: 1024px) {
    .header__main-content--blocks {
      width: 100%; } }

.header__main--logo {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 262px; }

.header__main-logo--img {
  width: 100%; }
  .header__main-logo--img a {
    text-decoration: none; }

.header__main-logo--fix {
  display: none; }

.header__main-logo--text {
  display: none;
  font: 300 14px/16px "Roboto", sans-serif;
  color: #000;
  text-align: center;
  margin-top: 18px; }

.header__main--phones {
  min-width: 1px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.header__main-phone-col--one,
.header__main-phone-col--two {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.header__main-phone-col--one {
  margin-right: 20px; }

.header__main-phone--link {
  text-decoration: none;
  white-space: nowrap;
  color: #000;
  font: 23px/34px "Oswald", sans-serif;
  display: inline-block; }
  .header__main-phone--link:hover {
    text-decoration: underline; }

.header__main-phone--txt {
  white-space: nowrap;
  display: inline-block;
  font: 300 12px/14px "Roboto", sans-serif;
  color: #000;
  margin-top: 4px; }

.header__main-phone--call {
  font: 300 14px/16px "Roboto", sans-serif;
  -webkit-text-decoration-line: underline;
     -moz-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #403B3B;
  white-space: nowrap;
  display: inline-block;
  margin-left: 24px;
  margin-top: 2px; }
  .header__main-phone--call:hover {
    -webkit-text-decoration-line: none;
       -moz-text-decoration-line: none;
            text-decoration-line: none; }

.header__main--basket {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 258px;
  padding-right: 14px;
  overflow: hidden; }

.header__main-basket--town {
  display: none !important; }

.header__main-basket--link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.header__main-basket--icon {
  width: 48px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }

.header__main-basket--block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 1px;
  overflow: hidden;
  padding-left: 10px; }

.header__main-basket--title {
  font: 15px/18px "Roboto", sans-serif;
  color: #000;
  display: block;
  max-width: 100%;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.header__main-basket--value {
  font: 300 14px/16px "Roboto", sans-serif;
  color: #000;
  display: block;
  max-width: 100%;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 6px;
  white-space: nowrap; }

.header__main-content--bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  float: left;
  padding-top: 14px; }

.header__main-logo--text-lg {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 262px;
  font: 300 14px/18px "Roboto", sans-serif;
  color: #000;
  text-align: center; }

.header__main--search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 18px;
  padding-right: 31px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 1px;
  padding-top: 8px; }

.header__main-search--control {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
     -moz-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 1px; }

.header__main-search--action {
  width: 226px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }

.header__main-search--btn {
  border: 0;
  width: 100%;
  height: 32px;
  font: 500 17px/20px "Roboto", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background: #56914C;
  display: block; }

.header__main-search--input {
  display: block;
  width: 100%;
  text-align: center;
  background: #fff;
  border: 2px solid #AEAEAE;
  font: 300 13px/13px "Roboto", sans-serif;
  color: #888888;
  border-right: 0;
  height: 32px;
  padding: 0 12px; }

/* START 1199px */
@media (max-width: 1199px) {
  .header__top--container,
  .header__main--container {
    padding-left: 23px; } }

/* END 1199px */
/* START 1023px */
@media (max-width: 1023px) {
  .header__main--container {
    padding: 9px 0 23px 4px; }
  .header__top--container {
    display: none !important; }
  .header__main--burger {
    display: block !important; }
  .header__main-logo--text-lg {
    display: none !important; }
  .header__main--logo {
    width: 238px;
    padding-top: 3px; }
  .header__main-logo--text {
    display: block; }
  .header__main--phones {
    padding: 3px 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__main-phone-col--one {
    margin-right: 0; }
  .header__main-phone-col--one .header__main--phone {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
       -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .header__main-phone--txt {
    margin-top: 0;
    text-align: center; }
  .header__main-phone--call {
    margin-left: 0;
    text-align: center;
    margin-top: 4px; }
  .header__main--basket {
    width: 222px;
    padding-top: 8px; }
  .header__main-basket--town {
    display: block !important;
    margin-bottom: 16px; }
    .header__main-basket--town .header__top-town--title,
    .header__main-basket--town .header__top-town-action--link {
      color: #000; }
  .header__main-content--blocks {
    padding-left: 8px; }
  .header__main-content--bottom {
    padding-top: 0;
    margin-top: 10px; }
  .header__main--search {
    padding: 0 33px 0 68px; }
  .is-content-fixed {
    margin-top: 58px !important; }
  .header__section {
    top: 0;
    left: 0;
    z-index: 1000;
    position: fixed;
    height: 179px; }
  .wrapper__section {
    margin-top: 179px !important; }
  .header__section.is-fixed {
    height: 58px; }
    .header__section.is-fixed .header__main-logo--fix {
      display: block; }
    .header__section.is-fixed .header__main-content--bottom,
    .header__section.is-fixed .header__main-logo--default,
    .header__section.is-fixed .header__main-logo--text,
    .header__section.is-fixed .header__main-phone--txt,
    .header__section.is-fixed .header__main-phone-col--two,
    .header__section.is-fixed .header__main-basket--town {
      display: none !important; }
    .header__section.is-fixed .header__main-phone--link,
    .header__section.is-fixed .header__main-basket--title,
    .header__section.is-fixed .header__main-basket--value {
      color: #fff !important; }
    .header__section.is-fixed .header__main--container {
      background: #006E39;
      padding: 2px 0 4px 4px; }
    .header__section.is-fixed .header__main--basket {
      padding-top: 2px; }
    .header__section.is-fixed .header__main--logo {
      width: 192px;
      padding-top: 2px; }
    .header__section.is-fixed .header__main--phones {
      padding-top: 1px; }
    .header__section.is-fixed .header__main-content--blocks {
      padding-left: 24px; } }

/* END 1023px */
/* START 767px */
@media (max-width: 767px) {
  .header__section:not(.is-fixed) .header__main-content--blocks {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .header__section:not(.is-fixed) .header__main--basket {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
       -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .header__section:not(.is-fixed) .header__main--logo {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
       -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .header__section:not(.is-fixed) .header__main--phones {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
       -moz-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .header__section.is-fixed {
    height: 50px; }
    .header__section.is-fixed .header__main--logo {
      display: none; }
    .header__section.is-fixed .header__main-content--blocks {
      padding-left: 0; }
    .header__section.is-fixed .header__main-basket--block {
      padding-left: 5px; }
    .header__section.is-fixed .header__main-basket--title,
    .header__section.is-fixed .header__main-basket--value {
      font-size: 12px;
      line-height: 14px; }
    .header__section.is-fixed .header__main-basket--value {
      margin-top: 1px; }
    .header__section.is-fixed .header__main-basket--link {
      width: 100%; }
    .header__section.is-fixed .header__main--basket {
      width: 193px;
      padding-top: 4px; }
    .header__section.is-fixed .header__main--phones {
      margin-top: 0;
      padding-right: 0;
      padding-top: 0; }
    .header__section.is-fixed .header__main--phones {
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .header__section.is-fixed .header__main--burger {
      width: 40px;
      padding-top: 4px;
      margin-left: 4px; }
    .header__section.is-fixed .header__main-mobile--btn {
      height: 37px; }
      .header__section.is-fixed .header__main-mobile--btn i {
        width: 26px;
        height: 4px;
        margin: 2px 0; }
    .header__section.is-fixed .header__main--container {
      padding: 2px 0 7px 4px; }
    .header__section.is-fixed .header__main-mobile--btn.is-active i:first-child {
      top: 3px; }
  .header__main-mobile--btn.is-active i:first-child {
    top: 5px; }
  .header__main-basket--link {
    width: 193px; }
  .header__main-basket--icon {
    width: 37px; }
  .header__main-basket--town {
    margin-bottom: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    min-width: 1px; }
  .header__main-basket--block {
    padding-left: 8px; }
  .header__main-basket--title,
  .header__main-basket--value {
    font-size: 11px;
    line-height: 13px; }
  .header__main-basket--value {
    margin-top: 5px; }
  .header__top-town--title,
  .header__top-town-action--link {
    font-size: 12px;
    line-height: 14px; }
  .header__top-town--action {
    -webkit-box-flex: inherit;
    -webkit-flex-grow: inherit;
       -moz-box-flex: inherit;
        -ms-flex-positive: inherit;
            flex-grow: inherit; }
  .header__top--town {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .header__main-content--blocks {
    padding-left: 5px; }
  .header__main-basket--town {
    padding-right: 5px; }
  .header__main--burger {
    width: 54px; }
  .header__main-mobile--btn {
    height: 50px; }
    .header__main-mobile--btn i {
      width: 35px;
      margin: 2.5px 0; }
  .header__main--container {
    padding: 3px 0 19px 3px; }
  .header__main--search {
    padding: 0 23px 0 20px; }
  .header__section {
    height: 253px; }
  .wrapper__section {
    margin-top: 253px !important; }
  .wrapper__section.is-content-fixed {
    margin-top: 50px !important; }
  .header__main--logo {
    margin-left: -39px;
    width: 234px;
    margin-top: 13px;
    padding-top: 0; }
  .header__main-logo--text {
    line-height: 22px;
    text-align: left;
    margin-top: 15px; }
  .header__main--phones {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-right: 20px; }
  .header__main-phone--txt,
  .header__main-phone--call {
    text-align: right; }
  .header__main-phone--txt {
    margin-bottom: 5px; }
  .header__main-phone--call {
    margin-top: 6px; }
  .header__main--phones {
    padding-top: 0;
    margin-top: 13px; }
  .header__main-search--input {
    text-align: left; }
  .header__main-content--bottom {
    margin-top: 28px; } }

/* END 767px */
/* START 479px */
@media (max-width: 479px) {
  .header__section {
    height: 180px; }
  .wrapper__section {
    margin-top: 180px !important; }
  .header__main--burger {
    width: 50px; }
  .header__main-phone--call {
    display: none; }
  .header__main-mobile--btn {
    height: 46px; }
    .header__main-mobile--btn i {
      width: 33px;
      margin: 3px 0; }
  .header__main-mobile--btn.is-active i:first-child {
    top: 6px; }
  .header__main-basket--link {
    width: 142px;
    padding-right: 10px; }
  .header__main-basket--icon {
    width: 25px; }
  .header__main-basket--title,
  .header__main-basket--value {
    font-size: 10px;
    line-height: 12px; }
  .header__main-basket--block {
    padding-left: 4px; }
  .header__main-basket--value {
    margin-top: 1px; }
  .header__main--basket {
    padding-right: 0; }
  .header__top-town--title,
  .header__top-town-action--link {
    font-size: 10px;
    line-height: 12px; }
  .header__top-town--action {
    padding-top: 0; }
  .header__top-town--title {
    padding-top: 3px; }
  .header__main--container {
    padding: 3px 0 14px 3px; }
  .header__main--logo {
    width: 175px;
    margin-left: -42px; }
  .header__main-logo--img {
    width: 140px; }
  .header__main-logo--text {
    font-size: 10px;
    line-height: 13px;
    margin-top: 5px; }
  .header__main-phone--txt {
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 7px; }
  .header__main-phone--link {
    font-size: 16px;
    line-height: 24px; }
  .header__main--phones {
    padding-right: 13px;
    margin-top: 22px; }
  .header__main-search--input {
    height: 27px;
    font-size: 10px;
    line-height: 12px;
    padding: 0 7px; }
  .header__main-search--action {
    width: 75px; }
  .header__main-search--btn {
    height: 27px;
    font-size: 11px;
    line-height: 13px; }
  .header__main--search {
    padding: 0 15px 0 12px; }
  .header__main--logo {
    margin-top: 25px; }
  .header__main-phone-col--two {
    margin-top: 1px; }
  .header__main-content--bottom {
    margin-top: 13px; }
  .header__section.is-fixed .header__main--container {
    padding: 2px 0 7px 2px; }
  .header__section.is-fixed .header__main--basket {
    width: 145px;
    padding-top: 10px; }
  .header__section.is-fixed .header__main-basket--title,
  .header__section.is-fixed .header__main-basket--value {
    font-size: 10px;
    line-height: 12px; }
  .header__section.is-fixed .header__main--phones {
    padding-top: 4px; } }

/* END 479px */
